{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block description %}{% endblock %}

{% block stylesheets %}
{% endblock %}
{% block body %}

{# HERO  #}
<section class="bg-secondary hero">
    <div class="container md:flex-row md:items-center relative">
        {# <div class="custom-bg-hero"></div> #}
        <figure class="hero__img-container">
            <img src="{{asset('./assets/img/pierre-pineau.png')}}" alt="Photo de {{SITE_NAME}}" class="hero__img">
        </figure>
        <div class="titles py-4 !text-center md:!text-left !items-center md:!items-start">
            <div class="relative">
                <h1 class="!text-primary title__h1">{{"hero.title"|trans}}</h1>
            </div>
            <p class="">{{"hero.content"|trans}}</p>
            <div class="flex gap-4 items-center">
                <a href="#" class="btn-white">{{"btn.linkedin"|trans}}</a>
                <a href="#" class="link-primary">{{"btn.seeRealisations"|trans}}</a>
            </div>
        </div>
    </div>
</section>
{# END HERO #}
{# ABOUT ME #}
<section id="a-propos" class="layout-padding statistics">
    <div class="container md:flex-row md:items-center gap-4 md:gap-8">
        <div class="titles">
            <div class="custom-line-left">
                <h2 class="title__h2">{{"aboutMe.title"|trans}}</h2>
            </div>
            <p class="">{{"hero.content"|trans}}</p>
            <a href="#" class="btn-white">{{"btn.cv"|trans}} <i class="ml-2 fa-solid fa-download"></i></a>
        </div>
        <ul class="statistics__list">
            {% for stat in statistics %}
                <li class="statistics__item card" tabindex="0" aria-labelledby="{{stat.value ~ ' ' ~ stat.name}}">
                    <h3 class="title__h3"><span class="statistics__value card__name text-primary !font-medium">{{stat.value}}</span> {{stat.name}}</h3>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>
{# END ABOUT ME #}
{# WORKS #}
<section id="experiences" class="layout-padding works">
    <div class="container md:items-center gap-4 md:gap-8">
        <div class="titles titles-right">
            <div class="custom-line-right">
                <h2 class="title__h2">{{"works.title"|trans}}</h2>
            </div>
            <p class=" md:w-1/2">{{"works.content"|trans}}</p>
        </div>
        <div class="works__content">
            <nav>
                <ul class="works__cards" role="tablist" aria-label="{{"works.list"|trans}}">
                    {% for work in works %}
                        {% if work.endAt is not defined or work.endAt == null or work.endAt == "null" %}
                            {% set endAt = "now"|date() %}
                        {% else %}
                            {% set endAt = date(work.endAt) %}
                        {% endif %}
                        {% set startAt = date(work.startAt) %}
                        
                        {% set duration = date(endAt).diff(date(startAt)) %}
                        {% if duration.y >= 1 %}
                            {% set duration = duration.y ~ (duration.y > 1 ? " ans": " an") %}
                        {% else %}
                            {% set duration = duration.m ~ " mois" %}
                        {% endif %}
                        <li class="works__card card cursor-pointer" tabindex="0" role="tab" aria-label="{{work.name}}" aria-selected="{{loop.index == 1 ? 'true' : 'false'}}" aria-controls="works-{{loop.index}}" id="works-tab-{{loop.index}}">
                            <p class="title__h3 card__name">{{work.name}}</p>
                            <ul class="list-v font-medium w-full text-lg">
                                <li class="inline-flex items-center gap-2">
                                    <i class="fa-solid fa-briefcase icon"></i>
                                    <p>{{work.type}}</p>
                                </li>
                                <li class="inline-flex items-center gap-2">
                                    <i class="fa-solid fa-user-tie icon"></i>
                                    <p class="text-primary">{{work.job}}</p>
                                </li>
                                <li class="inline-flex items-center gap-2">
                                    <i class="fa-solid fa-clock icon"></i>
                                    <p>{{duration}}</p>
                                </li>
                                <li class="inline-flex items-center gap-2 font-normal text-base text-light">
                                    <p>{{startAt|date('d/m/yy')}}</p>
                                    <span class="card__timeline"></span>
                                    {% if work.endAt is not defined or work.endAt == null or work.endAt == "null" %}
                                        <p>{{'date.today'|trans}}</p>
                                    {% else %}
                                        <p>{{endAt|date('d/m/yy')}}</p>
                                    {% endif %}
                                </li>
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
            <ul class="works__list w-full">
                {% for work in works %}
                    <li id="works-{{loop.index}}" class="works__item {{loop.index == 1 ? '' : 'hidden'}}" role="tabpanel" aria-labelledby="works-tab-{{loop.index}}">
                        <h3 class="title__h3 mb-4 !text-3xl md:!text-4xl !text-primary">{{work.name}}</h3>
                        <p>{{work.content}}</p>
                        <div class="w-full flex justify-end mt-8">
                            <a href="{{work.site}}" rel="nofollow" target="_blank" class="btn-white">{{work.name}} <i class="ml-2 fa-solid fa-arrow-up-right-from-square"></i></a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        
    </div>
</section>
{# END WORKS #}
{# RÉALISATIONS #}
<section id="realisations" class="layout-padding bg-">
    <div class="container items-center gap-4 md:gap-8">
        <div class="titles">
            <div class="custom-line-left">
                <h2 class="title__h2">{{"project.title"|trans}}</h2>
            </div>
            <p class=" md:w-1/2">{{"project.content"|trans}}</p>
        </div>
    </div>
</section>
{# RÉALISATIONS #}

{# SPÉCIALISATION #}
<section id="competences" class="layout-padding">
    <div class="container gap-4 md:gap-8">
        <div class="titles titles-right">
            <div class="custom-line-right">
                <h2 class="title__h2">{{"specialties.title"|trans}}</h2>
            </div>
            <p class=" md:w-1/2">{{"specialties.content"|trans}}</p>
        </div>
        <ul class="grid md:grid-cols-2 xl:grid-cols-4 gap-4 md:gap-8">
            {% for specialtie in specialties %}
                <li class="card !items-start" tabindex="0">
                    <span class="card__name text-primary"><i class="{{specialtie.icon}} !text-4xl"></i></span>
                    <h3 class="title__h3 mb-2">{{specialtie.name}}</h3>
                    <p class="text-light">{{specialtie.content}}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
    <ul class="list-h gap-4 mt-8 justify-center px-4">
        {% for skill in skills %}
            <li class="skill__item" tabindex="0" aria-label="{{skill.name}} - {{skill.value}}%">
                <div class="flex gap-4 items-center">
                    <i class="{{skill.icon}}"></i>
                    <h3 class="skill__name">{{skill.name}}</h3>
                </div>
                <div class="skill__progress">
                    <div class="skill__progress-bar" style="width: {{skill.value}}%"></div>
                </div>
            </li>
        {% endfor %}
    </ul>
</section>
{# SPÉCIALISATION #}
{# CONTACT #}
<section id="contact" class="layout-padding bg-primary">
    <div class="container gap-4 md:gap-8">
        <div class="titles titles-center">
            <div class="custom-line-center custom-line-secondary">
                <h2 class="title__h2 text-white">{{"contact.title"|trans}}</h2>
            </div>
            <p class=" md:w-2/3 text-white">{{"contact.content"|trans}}</p>
        </div>
        <form action="#" class="flex flex-col gap-4 mx-auto w-full max-w-screen-md">
            <div class="flex flex-col sm:flex-row gap-4 w-full">
                <div class="field w-full">
                    <input type="text" name="firstname" class="field__input" required>
                    <label for="firstname" class="field__label">{{'field.firstname.label'|trans}}</label>
                </div>
                <div class="field w-full">
                    <input type="text" name="lastname" class="field__input" required>
                    <label for="lastname" class="field__label">{{'field.lastname.label'|trans}}</label>
                </div>
            </div>
            <div class="field">
                <input type="email" name="email" class="field__input" required>
                <label for="email" class="field__label">{{'field.email.label'|trans}}</label>
            </div>
            <div class="field">
                <input type="text" name="subject" class="field__input" required>
                <label for="subject" class="field__label">{{'field.subject.label'|trans}}</label>
            </div>
            <div class="field">
                <textarea name="message" class="field__textarea" required></textarea>
                <label for="message" class="field__label">{{'field.message.label'|trans}}</label>
            </div>
            <div class="flex justify-center">
                <button type="submit" class="btn-white-secondary min-w-[150px]">{{'btn.send'|trans}}</button>
            </div>
        </form>
    </div>
</section>
{# CONTACT #}
{% endblock %}
{% block javascripts %}
{% endblock %}