{% extends 'base.html.twig' %}

{% block title %}{{project.name}}{% endblock %}
{% block description %}{{project.excerpt}}{% endblock %}

{% block stylesheets %}
{% endblock %}
{% block body %}
<section class="bg-secondary layout-padding relative">
    <div class="container lg:flex-row lg:items-center gap-x-8 relative z-10 pt-8">
        {% set baseImg = './assets/img/projects/' ~ project.thumbnail ~ "/"~ project.thumbnail %}
        <div class="w-full mx-auto sm:max-w-[600px] flex-shrink-0 overflow-hidden rounded-md">
            <picture class="w-full max-w-[600px] max-h-[300px]">
                <source srcset="{{asset(baseImg ~ '-sm.webp')}} 280w,
                            {{asset(baseImg ~ '-md.webp')}} 600w" type="image/webp">
                <source srcset="{{asset(baseImg ~ '-sm.png')}} 280w,
                                {{asset(baseImg ~ '-md.png')}} 600w" type="image/png">
                <img src="{{asset(baseImg ~ '-sm.png')}}" alt="{{project.name}}" class="object-cover object-center">
            </picture>
        </div>
        <div class="titles py-4 !text-center lg:!text-left !items-center lg:!items-start w-full">
            <div class="relative">
                <p>{{project.work ? project.work.name : "École"}}</p>
                <h1 class="!text-primary title__h1 flex flex-col text-2xl">
                    {{project.name}}
                </h1>
            </div>
            <ul class="flex gap-4 items-center flex-wrap justify-center">
                {% for categorie in project.categorie %}
                    <li class="tag-primary"><i class="fa-solid fa-tag mr-2"></i>{{categorie.name}}</li>
                {% endfor %}
            </ul>
            <p class="mb-8">{{project.excerpt ?? ""}}</p>
            
            {% if project.url is defined %}
                <a href="{{project.url}}" rel="nofollow" target="_blank" class="link-primary">{{project.name}} <i class="ml-2 fa-solid fa-arrow-up-right-from-square text-xs"></i></a>
            {% else %}
                <span class="link-primary is-disabled">{{project.name}} <i class="ml-2 fa-solid fa-arrow-up-right-from-square text-xs"></i></span>
            {% endif %}
            
        </div>
        
    </div>
    
</section>
{# content  #}
<section class="layout-padding relative">
    <div class="container gap-4 md:gap-8 relative z-10">
        <div class="titles">
            <div class="custom-line-left titles__header js-title-move">
                <h2 class="title__h2">Présentation du projet</h2>
            </div>
        </div>
        <p class="">{{project.content|raw}}</p>
        {# <div class="customIcon__circle right-0 top-1/2 w-96 h-96 -translate-y-1/2" aria-hidden="true"></div> #}
    </div>
    <div class="customIcon-container left-0 top-28 w-56 h-96 hidden xl:flex" aria-hidden="true">
        <div class="customIcon__square rotate-[35deg] origin-top-left" ></div>
    </div>
</section>
{# other project  #}
{% include "elements/layout/other-projects.html.twig" %}
{% endblock %}
{% block javascripts %}
<script defer src="{{asset('./assets/js/slider.js')}}"></script>
{% endblock %}