<header class="header">
    <div class="header-bg js-header-bg"></div>
    <nav class="nav w-full">
        <a href="{{path('home')}}">
            <figure class="logo-container">
                <img src="{{asset('./assets/img/logo.svg')}}" alt="Logo {{SITE_NAME}}" class="logo w-12" title="{{SITE_NAME}}">
            </figure>
        </a>
        <ul class="nav__list">
            {% for item in menu %}
                <li class="hidden lg:inline-flex">
                    <a href="{{item.url}}" class=" link-white">{{item.name}}</a>
                </li>
            {% endfor %}
            {% for social in socials %}
                <li>
                    <a href="{{social.url}}" rel="nofollow" target="_blank" class="btn-white" title="{{social.name}}">
                        <i class="{{social.icon}}"></i>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</header>