{# ABOUT ME #}
<section id="a-propos" class="layout-padding statistics">
    <div class="container md:flex-row md:items-center gap-4 md:gap-8">
        <div class="titles">
            <div class="custom-line-left titles__header">
                <h2 class="title__h2">{{"aboutMe.title"|trans}}</h2>
            </div>
            <p class="">{{"hero.content"|trans}}</p>
            <a href="#" class="btn-white">{{"btn.cv"|trans}} <i class="ml-2 fa-solid fa-download"></i></a>
        </div>
        <ul class="statistics__list">
            {% for stat in statistics %}
                <li class="statistics__item card" tabindex="0" aria-labelledby="{{stat.value ~ ' ' ~ stat.name}}">
                    <h3 class="title__h3"><span class="statistics__value card__name text-primary !font-medium">{{stat.value}}</span> {{stat.name}}</h3>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>
{# END ABOUT ME #}