{# HERO  #}
<section class="bg-secondary hero">
    
    <div class="container md:flex-row md:items-center relative z-10">
        {# <div class="custom-bg-hero"></div> #}
        <div class="customIcon__grid-big left-1/2 top-20 md:left-56 md:top-32 xl:left-80 xl:top-48 " aria-hidden="true">
            {% for i in 1..25 %}
                <span class="item"></span>
            {% endfor %}
        </div>
        <figure class="hero__img-container await-loading">
            {# {% include "elements/svg/undraw_progamming.svg" %} #}
            <img src="{{asset('./assets/img/pierre-pineau.png')}}" alt="Photo de {{SITE_NAME}}" class="hero__img">
        </figure>
        <div class="titles py-8 !text-center md:!text-left !items-center md:!items-start">
            <div class="relative lg:mb-4">
                <h1 class="!text-primary title__h1">{{"hero.title"|trans}}</h1>
            </div>
            <p class="">{{"hero.content"|trans|raw}}</p>
            <div class="flex gap-4 items-center">
                <a href="#contact" class="btn-white">{{"contact.title"|trans}}</a>
                <a href="#realisations" class="link-primary">{{"btn.seeRealisations"|trans}}</a>
            </div>
        </div>
    </div>
    <div class="overflow-hidden w-12 md:w-auto absolute bottom-0 right-0 md:right-12 translate-y-1/2"  aria-hidden="true">
        <div class="customIcon__grid-tight !relative" aria-hidden="true">
            {% for i in 1..25 %}
                <span class="item"></span>
            {% endfor %}
        </div>
    </div>
    
</section>
{# END HERO #}