{# RÉALISATIONS #}
<section id="realisations" class="layout-padding mb-4 relative">
    <div class="customIcon-container right-0 -top-32 w-56 h-96 hidden xl:flex -scale-x-100" aria-hidden="true">
        <div class="customIcon__square rotate-[35deg] origin-top-left !bg-primary" ></div>
    </div>
    <div class="container items-center gap-4 md:gap-8 relative z-10">
        <div class="titles">
            <div class="custom-line-left titles__header js-title-move">
                <h2 class="title__h2">{{"project.title"|trans}}</h2>
            </div>
            <p class="lg:w-2/3">{{"project.content"|trans}}</p>
        </div>
        <div id="project-slider" class="splide w-full" role="group" aria-label="{{"project.title"|trans}}">
            <div class="splide__track w-full">
                <ul class="splide__list">
                    {% for project in projects %}
                        <li class="splide__slide project-slide">
                            <article class="project" aria-label="{{project.name}}" tabindex="0">
                                <span class="title__h3 project__name">{{project.name}}</span>
                                <figure class="project__img">
                                    <img src="{{ asset('./assets/img/projects/' ~ project.thumbnail)}}" alt="{{project.name}}">
                                </figure>
                                <a href="{{project.url}}" rel="nofollow" target="_blank" class="project__content">
                                    <h3 class="title__h3">{{project.name}}</h3>
                                    <p class="project__description">{{project.content}}</p>
                                    <i class="fa-solid fa-arrow-up-right-from-square project__icon"></i>
                                </a>
                            </article>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{# RÉALISATIONS #}