{# SPÉCIALISATION #}
<section id="competences" class="layout-padding relative">
    <div class="customIcon-container left-0 top-12 w-60 hidden md:flex justify-end" aria-hidden="true">
        <div class="customIcon__circle !w-96 !h-96" ></div>
    </div>
    <div class="container gap-4 md:gap-8 relative z-10">
        <div class="titles titles-right">
            <div class="custom-line-right titles__header js-title-move">
                <h2 class="title__h2">{{"specialties.title"|trans}}</h2>
            </div>
            <p class="lg:w-2/3">{{"specialties.content"|trans}}</p>
        </div>
        {% include "elements/components/specialities.html.twig" %}
        <ul class="list-h gap-4 justify-center px-4 relative z-10">
            {% for skill in skills|sort((a, b) => a.position <=> b.position) %}
                <li class="skill__item" tabindex="0" aria-label="{{skill.name}} - {{skill.percent}}%">
                    <div class="flex gap-4 items-center">
                        <i class="{{skill.icon}}"></i>
                        <h3 class="skill__name">{{skill.name}}</h3>
                    </div>
                        <div class="skill__progress">
                            <div class="skill__progress-bar" style="width: {{skill.percent}}%" role="progressbar" aria-valuenow="{{skill.percent}}" aria-valuemin="0" aria-valuemax="100" aria-valuetext="{{skill.name}} - {{skill.percent}}%" aria-label="{{skill.name}} - {{skill.percent}}%"></div>
                        </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="flex overflow-hidden w-32 absolute right-0 top-1/2 2xl:right-1/3 2xl:w-auto 2xl:translate-x-[500px]"  aria-hidden="true">
        <div class="customIcon__grid-big !relative" aria-hidden="true">
            {% for i in 1..25 %}
                <span class="item"></span>
            {% endfor %}
        </div>
    </div>
</section>
{# SPÉCIALISATION #}