{# WORKS #}
<section id="experiences" class="layout-padding works relative">
    <div class="container md:items-center gap-4 md:gap-8 z-10 relative">
        <div class="titles titles-right">
            <div class="custom-line-right titles__header js-title-move">
                <h2 class="title__h2">{{"works.title"|trans}}</h2>
            </div>
            <p class="lg:w-2/3">{{"works.content"|trans}}</p>
        </div>
        <div class="works__content w-full">
            <nav aria-label="{{"works.nav"|trans}}">
                <div class="works__cards" role="tablist" aria-label="{{"works.list"|trans}}">
                    {% for work in works %}
                        {% if work.endAt is not defined or work.endAt == null or work.endAt == "null" %}
                            {% set endAt = "now"|date() %}
                        {% else %}
                            {% set endAt = date(work.endAt) %}
                        {% endif %}
                        {% set startAt = date(work.startAt) %}
                        
                        {% set duration = date(endAt).diff(date(startAt)) %}
                        {% if duration.y >= 1 %}
                            {% set duration = duration.y ~ (duration.y > 1 ? " ans": " an") ~ " et " ~ duration.m ~ " mois" %}
                        {% else %}
                            {% set duration = duration.m ~ " mois" %}
                        {% endif %}
                        {% set workName = work.name|trans %}
                        <button id="work-tab-{{loop.index}}" role="tab" aria-label="{{workName}}" aria-selected="{{loop.index == 1 ? 'true' : 'false'}}" aria-controls="works-{{loop.index}}" class="works__card card">
                            <p class="title__h3 card__name">{{workName}}</p>
                            <ul class="list-v font-medium w-full text-lg">
                                <li class="inline-flex items-center gap-2">
                                    <i class="fa-solid fa-briefcase icon"></i>
                                    <p>{{work.type.name}}</p>
                                </li>
                                <li class="inline-flex items-center gap-2">
                                    <i class="fa-solid fa-user-tie icon"></i>
                                    <p class="text-primary">{{work.job|trans}}</p>
                                </li>
                                <li class="inline-flex items-center gap-2">
                                    <i class="fa-solid fa-clock icon"></i>
                                    <p>{{duration}}</p>
                                </li>
                                <li class="inline-flex items-center gap-2 font-normal text-base text-light">
                                    <p>{{startAt|date('d/m/Y')}}</p>
                                    <span class="card__timeline"></span>
                                    {% if work.endAt is not defined or work.endAt == null or work.endAt == "null" %}
                                        <p>{{'date.today'|trans}}</p>
                                    {% else %}
                                        <p>{{endAt|date('d/m/Y')}}</p>
                                    {% endif %}
                                </li>
                            </ul>
                        </button>
                    {% endfor %}
                </div>
            </nav>
            <ul class="works__list w-full">
                {% for work in works %}
                    {% set workName = work.name %}
                    <li id="works-{{loop.index}}" class="works__item {{loop.index == 1 ? '' : 'hidden'}}" role="tabpanel" aria-labelledby="work-tab-{{loop.index}}">
                        <h3 class="title__h3 mb-4 !text-3xl md:!text-4xl !text-primary">{{workName}}</h3>
                        <p>{{work.content|raw|trans}}</p>
                        <div class="w-full flex justify-end mt-8">
                            <a href="{{work.url}}" rel="nofollow" target="_blank" class="btn-white">{{workName}} <i class="ml-2 fa-solid fa-arrow-up-right-from-square"></i></a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="hidden md:flex overflow-hidden w-20 absolute left-0  top-0 lg:top-32">
        <div class="customIcon__grid-big !relative" aria-hidden="true">
            {% for i in 1..25 %}
                <span class="item"></span>
            {% endfor %}
        </div>
    </div>
</section>
{# END WORKS #}